.todo-app {
  top: 120px;
  position: relative;
  z-index: 1;
  padding: 32px;
  margin: 0 auto;
  max-width: 500px;
}

.todo-grid {
  padding: 16px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 0.5fr;
}
