.todo-app {
  top: 120px;
  position: relative;
  z-index: 1;
  padding: 32px;
  margin: 0 auto;
  max-width: 500px;
}

.todo-grid {
  padding: 16px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 0.5fr;
}

@media screen and (max-width: 500px) {
  .todo-app {
    padding: 4px 16px;
  }
  .todo-grid {
    padding: 8px 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    grid-template-columns: 1fr 0.5fr;
  }
}
