.footer {
  position: fixed;
  left: 0;
  bottom: 25px;
  width: 100%;
  color: #34495e;
  text-align: center;
  z-index: 5;
  text-align: center;
}

.footer a {
  text-decoration: none;
  font-weight: 600;
  color: #34495e;
}
.footer a:hover {
  border-bottom: 1px solid #34495e;
  font-weight: 600;
}
